
@charset "utf-8";

@font-face {
    font-family: 'kraashregular';
    src: url('../fonts/kraash-webfont.eot');
    src: url('../fonts/kraash-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/kraash-webfont.woff2') format('woff2'),
         url('../fonts/kraash-webfont.woff') format('woff'),
         url('../fonts/kraash-webfont.ttf') format('truetype'),
         url('../fonts/kraash-webfont.svg#kraashregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'the_kings_of_the_houseregular';
    src: url('../fonts/thekingsofthehouse-regular_0-webfont.eot');
    src: url('../fonts/thekingsofthehouse-regular_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/thekingsofthehouse-regular_0-webfont.woff2') format('woff2'),
         url('../fonts/thekingsofthehouse-regular_0-webfont.woff') format('woff'),
         url('../fonts/thekingsofthehouse-regular_0-webfont.ttf') format('truetype'),
         url('../fonts/thekingsofthehouse-regular_0-webfont.svg#the_kings_of_the_houseregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

*{
	outline:none;
	padding:0px;
}
html, body {
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
}
#wrapper{
	width:100%;
	height:100%;
	display: flex;
	margin: 0 auto;
}
.clear{ clear:both;}

#container{
	width:800px;
	height:600px;
	max-width: 100%;
	margin: auto;
	overflow: hidden;
}

    /* screen1 css code */
    #screen1{
        width:800px;
        height:600px;
        background:url(/img/backgrond1.jpg) no-repeat;
        background-size: 800px 600px;
        position: relative;
    }
    @keyframes snakes-1 {
        from{background-position: 0px 0px;}
        to	{background-position: 0px -8320px;}
    }
    @-webkit-keyframes snakes-1 {
        from{background-position: 0px 0px;}
        to	{background-position: 0px -8320px;}
    }
    @-moz-keyframes snakes-1 {
        from{background-position: 0px 0px;}
        to	{background-position: 0px -8320px;}
    }
    @-ms-keyframes snakes-1 {
        from{background-position: 0px 0px;}
        to	{background-position: 0px -8320px;}
    }
    @-o-keyframes snakes-1 {
        from{background-position: 0px 0px;}
        to	{background-position: 0px -8320px;}
    }
    .snakes-1{
        width:290px;
        height:208px;
        -webkit-animation:snakes-1 2s steps(40) infinite;
        -moz-animation:snakes-1 2s steps(40) infinite;
        -ms-animation:snakes-1 2s steps(40) infinite;
        -o-animation:snakes-1 2s steps(40) infinite;
        animation:snakes-1 2s steps(40) infinite;
        background:url(../img/snake1.png) no-repeat;
        float: left;
        z-index: 9;
        position: relative;
    }
    header {
        width: 800px;
        min-height: 300px;
        position: relative;
        max-width: 100%;
    }
    
    footer {
        width: 800px;
        max-width: 100%;
        position: relative;
    }
    #logo1{
        width: 341px;
        height: 230px;
        background:url(../img/title_bg.png) no-repeat;
        line-height: normal;
        text-align: right;
        margin: auto;
        float: left;
        margin-left: -40px;
    }
    #logo1 h1{
        font-family: 'kraashregular';
        font-size: 25px;
        font-weight:normal;
        vertical-align: middle;
        line-height: 38px;
        margin: 0px;
        padding: 0px;
        color: #fff;   
        padding-top: 65px;
        text-align: center; 
    }
    #logo1 h1 span {
        font-size: 18px;
        display: block;
    }
    .screen1_footer {
        width: 450px;
        float: right;
        max-width: 100%;
        height: 300px;
        position: relative;
    }
    .startBtn1 {
        width: 229px;
        height: 210px;
        background:url(../img/play_bg.png) no-repeat;
        padding: 50px 15px 0px 0px; 
        font-family: 'kraashregular';
        font-size: 22px;
        cursor: pointer;
        display: block;
        position: absolute;
        right: 0px;
        top: 0px;
        color: #fff;
        text-align: center;
    }
    .startBtn1 span{  z-index: 999;  position: relative;}
    
    .bottom-grass {
        position: absolute;
        bottom: 0px;
        width: 400px;
        display: inline-block;
        right: 0px;
    }
    
    @keyframes grass {
        from{background-position: 0px 0px;}
        to	{background-position: 0px -8200px;}
    }
    @-webkit-keyframes grass {
        from{background-position: 0px 0px;}
        to	{background-position: 0px -8200px;}
    }
    @-moz-keyframes grass {
        from{background-position: 0px 0px;}
        to	{background-position: 0px -8200px;}
    }
    @-ms-keyframes grass {
        from{background-position: 0px 0px;}
        to	{background-position: 0px -8200px;}
    }
    @-o-keyframes grass {
        from{background-position: 0px 0px;}
        to	{background-position: 0px -8200px;}
    }
    .grass-1{
        width:245px;
        height:205px;
        -webkit-animation:grass 2s steps(40) infinite;
        -moz-animation:grass 2s steps(40) infinite;
        -ms-animation:grass 2s steps(40) infinite;
        -o-animation:grass 2s steps(40) infinite;
        animation:grass 2s steps(40) infinite;
        
        background:url(../img/grass.png) no-repeat;
        float: right;
        position: relative;
    }
    .grass-2{
        width:245px;
        height:205px;
        -webkit-animation:grass 2s steps(40) infinite;
        -moz-animation:grass 2s steps(40) infinite;
        -ms-animation:grass 2s steps(40) infinite;
        -o-animation:grass 2s steps(40) infinite;
        animation:grass 2s steps(40) infinite;
        
        background:url(../img/grass.png) no-repeat;
        /* float: right; */
        left: 20px;
        position: relative;
    }

    /* end of screen 1 css code */

    /* screen 2 css code */
    
    #screen2{
        width:800px;
        height:600px;
        background:url(/img/backgrond1.jpg) no-repeat;
        background-size: 800px 600px;
        position: relative;
        overflow: hidden;
}
    
    
    #instructions{
        width:500px;
        height: 350px;
        background:url(../img/instr-bg.png) no-repeat;
        background-size: 500px 350px;
        margin:auto 30px auto auto;
        padding-top: 50px;
        
    }
    #instructions h2{
        padding-top: 20px;
        font-family: 'kraashregular';
        font-size: 18px;
        text-align:center;
        text-transform: uppercase;
        letter-spacing: 1px;
        width: 280px;
        margin:40px auto;

        /* padding: 10px; */  
        color: #fff;
    }
    .inst_text ul {
        margin: 0px;
        padding: 0px;
    }
    
    .inst_text {
        width: 480px;
        margin:-50px 0px -50px 25px ;
        margin-left: ;
        max-width: 100%;
        padding-left: 25px;
        color: #fff;
        z-index: 99;
        /* position: relative; */
        padding-top: 20px;


    }
    
    .inst_text li {
        list-style-type: square;
        font-size: 18px;
        padding: 2px 0px;
    }
    .startBtn2 {
        width: 229px;
        height: 210px;
        background:url(../img/play_bg.png) no-repeat;
        padding: 25px 15px 0px 0px; 
        padding-top: 45px;
        font-family: 'kraashregular';
        font-size: 22px;
        cursor: pointer;
        display: block;
        position: absolute;
        right: 0px;
        top: 0px;
        color: #fff;
        text-align: center;
    }
    .startBtn2 span{  z-index: 999;  position: relative;}

    /* button#play {
        width: auto;
        padding: 5px 15px;
        float: right;
        margin-right: 65px;
        font-family: 'the_kings_of_the_houseregular';
        font-size: 18px;
        cursor: pointer;
        position: absolute;
        bottom: 40px;
        right: 0px;
        clear: both;
    } */
    .screen2_footer{
        width: 380px;
        float: right;
        max-width: 100%;
        height: 280px;
        position: relative;
        margin-right: -30px;
    }
    @keyframes snakes-2 {
        from{background-position: 0px 0px;}
        to	{background-position: 0px -4500px;}
    }
    @-webkit-keyframes snakes-2 {
        from{background-position: 0px 0px;}
        to	{background-position: 0px -4500px;}
    }
    @-moz-keyframes snakes-2{
        from{background-position: 0px 0px;}
        to	{background-position: 0px -4500px;}
    }
    @-ms-keyframes snakes-2 {
        from{background-position: 0px 0px;}
        to	{background-position: 0px -4500px;}
    }
    @-o-keyframes snakes-2 {
        from{background-position: 0px 0px;}
        to	{background-position: 0px -4500px;}
    }
    
    /* screen 2 end of css */

    /* screen 3 player info */

    #screen3{
        width:800px;
        height:600px;
        background:url(/img/backgrond1.jpg) no-repeat;
        background-size: 800px 600px;
        position: relative;
    }
    @keyframes snakes-1 {
        from{background-position: 0px 0px;}
        to	{background-position: 0px -8320px;}
    }
    @-webkit-keyframes snakes-1 {
        from{background-position: 0px 0px;}
        to	{background-position: 0px -8320px;}
    }
    @-moz-keyframes snakes-1 {
        from{background-position: 0px 0px;}
        to	{background-position: 0px -8320px;}
    }
    @-ms-keyframes snakes-1 {
        from{background-position: 0px 0px;}
        to	{background-position: 0px -8320px;}
    }
    @-o-keyframes snakes-1 {
        from{background-position: 0px 0px;}
        to	{background-position: 0px -8320px;}
    }
    .snakes-1{
        width:290px;
        height:208px;
        -webkit-animation:snakes-1 2s steps(40) infinite;
        -moz-animation:snakes-1 2s steps(40) infinite;
        -ms-animation:snakes-1 2s steps(40) infinite;
        -o-animation:snakes-1 2s steps(40) infinite;
        animation:snakes-1 2s steps(40) infinite;
        background:url(../img/snake1.png) no-repeat;
        float: left;
        z-index: 9;
        position: relative;
    }
    header {
        width: 800px;
        min-height: 300px;
        position: relative;
        max-width: 100%;
    }
    
    footer {
        width: 800px;
        max-width: 100%;
        position: relative;
    }
    #logo3{
        width: 341px;
        height: 230px;
        background:url(../img/title_bg.png) no-repeat;
        line-height: normal;
        text-align: center;
        margin: auto;
        float: left;
        margin-left: -40px;
    }
    #logo3 h1{
        font-family: 'kraashregular';
        font-size: 25px;
        font-weight:normal;
        vertical-align: middle;
        line-height: 38px;
        margin: 0px;
        padding: 0px;
        color: #fff;   
        padding-top: 80px;
        text-align: center;
    }

    .players {
       width: 20px;
       height: 40px;

    }
    .dice{
        float: left;
        width: 25%;
        padding: 0 10px;
        margin-bottom: -10%

    }
    .screen3_footer {
        width: 450px;
        float: right;
        max-width: 100%;
        height: 300px;
        position: relative;
    }
    .startBtn3 {
        width: 229px;
        height: 210px;
        background:url(../img/play_bg.png) no-repeat;
        padding: 25px 15px 0px 0px; 
        padding-top: 28px;
        font-family: 'kraashregular';
        font-size: 22px;
        cursor: pointer;
        display: block;
        position: absolute;
        right: 0px;
        top: 0px;
        color: #fff;
        text-align: center;
    }
    .startBtn3 span{  z-index: 999;  position: relative;}
    
    .bottom-grass {
        position: absolute;
        bottom: 0px;
        width: 400px;
        display: inline-block;
        right: 0px;
    }
    
    @keyframes grass {
        from{background-position: 0px 0px;}
        to	{background-position: 0px -8200px;}
    }
    @-webkit-keyframes grass {
        from{background-position: 0px 0px;}
        to	{background-position: 0px -8200px;}
    }
    @-moz-keyframes grass {
        from{background-position: 0px 0px;}
        to	{background-position: 0px -8200px;}
    }
    @-ms-keyframes grass {
        from{background-position: 0px 0px;}
        to	{background-position: 0px -8200px;}
    }
    @-o-keyframes grass {
        from{background-position: 0px 0px;}
        to	{background-position: 0px -8200px;}
    }
    .grass-1{
        width:245px;
        height:205px;
        -webkit-animation:grass 2s steps(40) infinite;
        -moz-animation:grass 2s steps(40) infinite;
        -ms-animation:grass 2s steps(40) infinite;
        -o-animation:grass 2s steps(40) infinite;
        animation:grass 2s steps(40) infinite;
        
        background:url(../img/grass.png) no-repeat;
        float: right;
        position: relative;
    }
    .grass-2{
        width:245px;
        height:205px;
        -webkit-animation:grass 2s steps(40) infinite;
        -moz-animation:grass 2s steps(40) infinite;
        -ms-animation:grass 2s steps(40) infinite;
        -o-animation:grass 2s steps(40) infinite;
        animation:grass 2s steps(40) infinite;
        
        background:url(../img/grass.png) no-repeat;
        /* float: right; */
        left: 20px;
        position: relative;
    }

    /* end of screen 3 */

    /* screen 4 table game */
    #screen4{
        width:800px;
        height:600px;
        background:url(/img/backgrond1.jpg) no-repeat;
        background-size: 800px 600px;
        position: relative;
    }

    @keyframes snakes-1 {
        from{background-position: 0px 0px;}
        to	{background-position: 0px -8320px;}
    }
    @-webkit-keyframes snakes-1 {
        from{background-position: 0px 0px;}
        to	{background-position: 0px -8320px;}
    }
    @-moz-keyframes snakes-1 {
        from{background-position: 0px 0px;}
        to	{background-position: 0px -8320px;}
    }
    @-ms-keyframes snakes-1 {
        from{background-position: 0px 0px;}
        to	{background-position: 0px -8320px;}
    }
    @-o-keyframes snakes-1 {
        from{background-position: 0px 0px;}
        to	{background-position: 0px -8320px;}
    }
    .snakes-1{
        width:290px;
        height:208px;
        -webkit-animation:snakes-1 2s steps(40) infinite;
        -moz-animation:snakes-1 2s steps(40) infinite;
        -ms-animation:snakes-1 2s steps(40) infinite;
        -o-animation:snakes-1 2s steps(40) infinite;
        animation:snakes-1 2s steps(40) infinite;
        background:url(../img/snake1.png) no-repeat;
        float: left;
        z-index: 9;
        position: relative;
    }
    header {
        width: 800px;
        min-height: 300px;
        position: relative;
        max-width: 100%;
    }
    
    footer {
        width: 800px;
        max-width: 100%;
        position: relative;
    }
    #logo4{
        width: 341px;
        height: 230px;
        background:url(../img/title_bg.png) no-repeat;
        line-height: normal;
        text-align: center;
        margin: auto;
        float: left;
        margin-left: -40px;
    }
    #logo4 h1{
        font-family: 'kraashregular';
        font-size: 25px;
        font-weight:normal;
        vertical-align: middle;
        line-height: 38px;
        margin: 0px;
        padding: 0px;
        color: #fff;   
        padding-top: 80px;
        text-align: center;
    }

    #board{
        width:420px;
        height:420px;
        position: relative;
        margin: -200px;
        margin-left: 200px;
    

    }
    .screen4_footer {
        width: 450px;
        float: right;
        max-width: 100%;
        height: 300px;
        position: relative;
    }
    .startBtn4 {
        width: 120px;
        height: 100px;
        background:url(../img/play_bg.png) no-repeat;
        background-position: ;
        margin: 150px;
        margin-right: 10px;
        /* padding: 25px 15px 0px 0px;  */
        padding-top: 28px;
        font-family: 'kraashregular';
        font-size: 15px;
        cursor: pointer;
        display: block;
        position: absolute;
        right: 0px;
        top: 0px;
        bottom: ;
        color: #fff;
        text-align: center;
    }
   
    
    .bottom-grass4 {
        position: absolute;
        bottom: 0px;
        width: 80px;
        height: 90px;
        display: inline-block;
        right: 0px;
    }
    
    @keyframes grass {
        from{background-position: 0px 0px;}
        to	{background-position: 0px -8200px;}
    }
    @-webkit-keyframes grass {
        from{background-position: 0px 0px;}
        to	{background-position: 0px -8200px;}
    }
    @-moz-keyframes grass {
        from{background-position: 0px 0px;}
        to	{background-position: 0px -8200px;}
    }
    @-ms-keyframes grass {
        from{background-position: 0px 0px;}
        to	{background-position: 0px -8200px;}
    }
    @-o-keyframes grass {
        from{background-position: 0px 0px;}
        to	{background-position: 0px -8200px;}
    }
    .grass-14{
        width:245px;
        height:205px;
        -webkit-animation:grass 2s steps(40) infinite;
        -moz-animation:grass 2s steps(40) infinite;
        -ms-animation:grass 2s steps(40) infinite;
        -o-animation:grass 2s steps(40) infinite;
        animation:grass 2s steps(40) infinite;
        
        background:url(../img/grass.png) no-repeat;
        float: right;
        position: relative;
    }
    .grass-24{
        width:245px;
        height:205px;
        -webkit-animation:grass 2s steps(40) infinite;
        -moz-animation:grass 2s steps(40) infinite;
        -ms-animation:grass 2s steps(40) infinite;
        -o-animation:grass 2s steps(40) infinite;
        animation:grass 2s steps(40) infinite;
        
        background:url(../img/grass.png) no-repeat;
        /* float: right; */
        left: 20px;
        position: relative;
    }



    